/* Style général */
th{
	background-color: SlateGray;
}

/* Tableau des annonces*/

.annoncestable {
	background-color: lightgrey;
	border-collapse: collapse;
	width: 100%;
}

.annoncestable th{
	border-bottom: 2px solid black;
	border-right: 5px solid SlateGray;
	border-left: 5px solid SlateGray;
}

.annoncestable tr{
	text-align: center;
}

.annoncestable tr:nth-child(odd) td{
	border-bottom: 2px solid Gainsboro;
	padding: 0px;
}

.annoncestable tr:nth-child(odd){
	background-color:LightSteelBlue;
}

.annoncestable tr:nth-child(even) td{
	border-bottom: 2px solid grey;
	padding: 0px;
}

.annoncestable tbody tr:hover{
	background-color: LightSlateGray;
	transition: background-color 0.5s;
}

.change{
	width: 99%;
	height: 99%;
	background: none;
	border: none;
	outline: none;
}

/* update des informations */

.update {
	margin-top: 20px;
	border-radius: 15px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	background-color: DarkGray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.update th{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

input[type="text"], input[type="password"]{
	background-color: Silver;
	color: white;
	border-radius: 15px;
	padding: 5px;
	transition: background-color 0.3s;
	border-style: none;
}

input[type="text"]:focus, input[type="password"]:focus{
	background-color: Gray;
	outline: none;
}

input::placeholder{
	color:white;
}

table input[type="submit"]{
	background-color: LightSlateGray;
	color: white;
	border-radius: 15px;
	height: 50px;
	width: 150px;
	border: none;
}

table input[type="submit"]:hover{
	background-color: SlateGray;
	border: 1px solid grey;
	transition: background-color 0.5s;
}

section input{
	text-align:center;
}