table {
	background-color: lightgrey;
	width: 100%;
	border-collapse: collapse;
}

th{
	background-color: SlateGray;
	border-bottom: 2px solid black;
	border-right: 5px solid SlateGray;
	border-left: 5px solid SlateGray;
}

.annonces tr:nth-child(odd) td{
	border-bottom: 2px solid Gainsboro;
	padding: 0px;
}

.annonces tr:nth-child(odd){
	background-color:LightSteelBlue;
}

.annonces tr:nth-child(even) td{
	border-bottom: 2px solid grey;
	padding: 0px;
}

.annonces tbody tr:hover{
	background-color: LightSlateGray;
	transition: background-color 0.5s;
}

a:link {
	color: blue;
}

a:visited {
	color: green;
}

a:hover {
	color: hotpink;
}

a:active {
	color: blue;
}

.accidents{
	table-layout: fixed;
}

.username{
	width: 120px;
	text-align: center;
}

.accidents td{
	overflow: hidden;
	text-overflow: ellipsis;
}

.date{
	width: 250px; 
}

.adresse{
	width: 250px;
}

section{
	position: absolute;
	right:50px;
}

section .btn{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

section .btn:hover{
	transition: background-color 0.5s;
	transition: border 0.5s;
}

.noResult{
	text-align: center;
}